img {
	max-width: 100%;
	height: auto;
  }

.header
{
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	height: 120px;
    transition: background-color 1s ease;
	z-index: 1000;
	transition: height 1s ease;
	border-bottom: 2px solid rgba(255,255,255,.05);
	position: fixed;



}
.head_change{
	background-color: rgba(0,0,0,.6);
	position: fixed;
	box-shadow: 0 3px 1rem rgba(0,0,0,.1);
	height: 90px;
}
section{
	height:120px;
	width:250px;
}


h1{
	margin:0px;
	padding:0px;
	top:50px;
	position:absolute;
	transform:translateY(-50%);
	letter-spacing:12px;
	margin-left:0px;	
	
}

h1 span{
	display:inline-block;
	animation:animate 1s linear forwards;
	color:#fff;
	font-size:40px;
	text-transform:uppercase;
	
}
h1 span:nth-child(1){
	animation-delay:1s;
	color: darkorange;
	color: darkgreen;
}
h1 span:nth-child(2){
	animation-delay:2s;
	color: blue;
}
h1 span:nth-child(3){
	animation-delay:2.5s;
	color: crimson;
}

h1 span:nth-child(4){
	animation-delay:2.75s;
	color: darkgoldenrod;
}

h1 span:nth-child(5){
	animation-delay:3s;
	color:violet;
}
h1 span:nth-child(6){
	animation-delay:3.5s;
	color: yellow;
}
h1 span:nth-child(7){
	animation-delay:3.75s;
	color: mediumblue;
}
h1 span:nth-child(8){
	animation-delay:4s;
	color: red;
}


@keyframes animate{
	0%{
		opacity:0;
		transform:rotateY(90deg);
		filter:blur(10px);
		
		}
		100%{
			opacity:1;
			transform:rotateY(0deg);
		filter:blur(0);
			
			}
			}

.navsec ul{
	margin-top: 20px;
}
.navsec ul li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	
}
.navsec ul li a{
	list-style: none;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}

.navsec button{
	color: #fff;
margin-left: 40px;
text-transform: uppercase;
border: none;
border-radius: 15px;
}
.nav-link{
	position: relative;
}
.nav-link::after{
    content: '';
    width: 80%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 10px;
    bottom:7px;
    transform: scaleX(0);
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

.navsec ul li .active{
	color: darkturquoise;
	transition: ease-in-out 1.5s;
}
#profile{
	color: #fff;
	cursor: pointer;
}

.profile{
	position:relative;
	height: 80px;
	display: inline-block;
	top: 8px;
	margin-left: 30px;

}

.tooltext{
    display: none;
    color: #fff;
    background-color: darkcyan;
    width: 100px;
    margin-left: 30px;
    margin-top: 34px;
    position: absolute;
    border-radius: 10px;
	text-align: center;
	text-transform: capitalize;
	transition: transform 1s;

}
.profile:hover .tooltext{
	display:block;
	transition: transform 1s ;
}
.tooltext:before{
	 content:""; 
	 position:absolute; 
	 border-left:10px solid darkcyan; 
	border-right:10px solid transparent; 
	 border-top:10px solid transparent; 
	 border-bottom:10px solid transparent; 
	top:-10px; 
	left: 0px;
	transition: transform 1s ;

}



