<div class="container-fluid header">
	<div class="container">
	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 logo">
		<section>
			<video src="../../assets/images/smoke.mp4" autoplay muted></video>
			<h1><b><span>t</span>
			<span>r</span>
			<span>a</span>
			<span>v</span>
			<span>e</span>
			<span>l</span>
			<span>l</span>
			<span>o</span>
			</b></h1>
			</section>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 navsec">
	
		<ul>
		<li><a routerLink='/Home'>Home</a></li>
		<li><a routerLink='/Aboutus'>About us</a></li>
		<li><a routerLink='/Services'>Services</a></li>
		<li><a routerLink='/Contact'>Contact</a></li>
		<p>Call us: 00-56 445 678 33</p>
		<button routerLink='/Login'>login<i class="material-icons">person_add</i></button>
		</ul>
		</div>
	
	</div><!--row-->
	</div><!--container-->
	
	</div><!--container-fluid-->
	