<div class="container-fluid footer" data-aos="fade-up"
data-aos-duration="800">
    <div class="container">
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 subscribe" data-aos="fade-up"
    data-aos-duration="1500">
    <h1>Subscribe to our newsletter to get the latest trends & news</h1>
    <p>Join our database NOW!</p>
    </div>
    </div>
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 email" data-aos="fade-up"
    data-aos-duration="1500">
    <input type="text" placeholder="name" required>
    <input type="email" placeholder="email" required>
    <button>subscribe</button>
    </div>
    </div>
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 three" data-aos="fade-up"
    data-aos-duration="1500">
    <img src="../../assets/images/sign.svg" alt="sign">
    <h1>give us a call</h1>
    <p>Office Landline: +44 5567 32 664 567</p>
    <h5>Mobile: +44 5567 89 3322 332</h5>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 three" data-aos="fade-up"
    data-aos-duration="1500">
    <img src="../../assets/images/trekking.svg" alt="treking">
    <h1>come & drop by</h1>
    <p>4124 Barnes Street, Sanford, FL 32771</p>
    <h5>Mobile: +44 5567 89 3322 332</h5>
    </div>
    
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 three" data-aos="fade-up"
    data-aos-duration="1500">
    <img src="../../assets/images/around.svg" alt="arround">
    <h1>send us a message</h1>
    <p>youremail@gmail.com</p>
    <h5>Office@yourbusinessname.com</h5>
    </div>
      
    </div>
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 last" data-aos="fade-up"
    data-aos-duration="1000">
    <p>Copyright &copy  All rights reserved | This template is made by NAGENDRA</p>
    </div>
    </div>
    
    
    </div><!--container-->
    </div><!--container-fluid-->
    
    
    