.whole{
    margin-top: 120px;
    height: 100%;
}
  
.whole h1{
    color: green;
    font-size: 20px;
    border: none;
    border: 1px solid;
    width: 100%;
    background-color: thistle;
    text-align: center;
}
.whole p{
    color: blue;
    width: 75%;
    
}
.name [type=text]{
    margin-left: 90px;
    margin-bottom: 10px;
    width: 20%;
    display: inline-block;
}
.Email [type=email]{
    margin-left: 96px;
    margin-bottom: 10px;
    width: 20%;
    display: inline-block;
}
.Mobile [type=text]{
    margin-left: 85px;
    margin-bottom: 10px;
    width: 20%;
    display: inline-block;
}
label{
    margin-left: 200px;
}
.places select{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 20%;
    display: inline-block;

}
.date [type=date]{
    margin-left: 42px;
    margin-bottom: 10px;
    width: 20%;
    display: inline-block;


}
.accom select{
    margin-left: 30px;
    margin-top: 10px;
    width: 15%;
    display: inline-block;

}
.message textarea{
    margin-top: 10px;
    width: 30%;
    display: inline-block;

}
.persons #n1{
    width: 5%;
    margin-left: 58px;    display: inline-block;
}
.persons #n2{
    width: 5%;
    display: inline-block;
    
}
.persons #a1{
    margin-left: 0px;
    margin-right: 10px;

}
.persons #c1{
    margin-left: 0px;

}
[type=submit]{
    margin-left: 340px;
    margin-top: 10px;
    margin-right: 40px;
    padding: 5px 10px 5px 10px;

}
[type=reset]{
    padding: 5px 10px 5px 10px;
    margin-top: 11px;
}
small{

    margin-left: 350px;
    display: block;
}