<div class="container-fluid total">
  <div class="row">

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sidenav">
      <h2>Papikondalu Tour Packages</h2>
      <a routerLink="Form">Book Now</a>
      <a routerLink="Package1">Rajahmundry To Papikondalu 1 Day Tour</a>
      <a routerLink="Package2">Rajahmundry To Kolluru Bamboo Huts 2 Days Tour</a>
      <a routerLink="Package3">Rajahmundry To Papikondalu Resorts 2 Days Tour</a>
      <a routerLink="Package4">Rajahmundry To Bhadrachalam 1 Day Tour</a>
      <a routerLink="Package5">Rajahmundry To Bhadrachalam 2 Days Tour</a>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 sai">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>