.five{
    margin-top: 120px;
    height: 100%;
}
.five h1{
    color: green;
    font-size: 20px;
    border: none;
    border: 1px solid;
    width: 100%;
    background-color: thistle;
    text-align: center;
}
.five img{
    width: 75%;
    height: 400px;
    position: absolute;
    margin-left: 100px;

}
.five h6{
    position: relative;
    width: 77%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
    margin-top: 369px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    margin-left: 100px;
}
.price5{
    width: 100%;
    border-bottom: 1px solid;

}
.price5 h3{
    font-size: 20px;
    color: white;
    margin-left: 100px;

}
.price5 h4{
    font-size: 25px;
    color: white;
    margin-left: 100px;
    font-weight: 200;

}
.price5 h5{
    font-size: 16px;
    color: white;
    margin-left: 100px;
    font-weight: 100;

}
.schedule5{
    margin-top: 20px;

}

.schedule5 h2{
    margin-left: 100px;
    font-weight: 500;
    font-size: 25px;
}
.schedule5 p{
    margin-left: 100px;
    line-height: 30px;
    text-transform: capitalize;
}
.schedule5 h4{
    margin-left: 100px;
    font-size: 18px;
    margin-top: 20px;
    color: burlywood;
}
.schedule5 button{
    margin-left: 40%;
    margin-bottom: 20px;
}
