.trips{
    height: 420px;
    background: url(../../assets/images/hands.jpg) no-repeat;
    background-size: cover;
    width: 80%;
    margin-top: 120px;
    
}
.whole{
    height: 540px;
    background-color: grey;


}

