<div class="container-fluid full" data-aos="fade-up" data-aos-duration="1500">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 constant">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 trip">
                <p>search for your trip</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search">
                <input type="text" placeholder="city" required>
                <input type="text" placeholder="deptarure" required>
                <input type="text" placeholder="arrival" required>
                <input type="text" placeholder="budget" required>
                <button>search</button>
            </div>
        </div>
    </div>
    <!--constant-->
</div>
<!--full-->