.loginforms{
    height: 550px;
    padding-top: 150px;

}
.loginforms form{
width:34%;
height:364px;
margin-left: 400px;
padding-top: 40px;
background: url(../../assets/images/login-back.jpg) no-repeat;
background-size: cover;
border-radius: 20px;
}
.loginforms form input[type=email]{
margin:2px 3px;
margin-top: 40px;
border-radius: 20px;
border: none;
text-align: center;
width: 290px;
margin-left: 100px;
margin-bottom: 10px;
}
small{

margin-left: 130px;

}
.loginforms form input[type=password]{
border-radius: 20px;
border: none;
text-align: center;
width: 290px;
margin-left: 100px;
    margin-bottom: 10px;
}
.loginforms form h2{
font-size: 25px;
font-style: italic;
margin-left: 222px;
text-transform:uppercase;
}
.loginforms form button{
margin-left: 205px;
border-radius: 18px;
padding: 5px 25px;
cursor: pointer;
box-shadow: 0px 5px 0px #77a4c3;
transition: all 0.3s;

}
.loginforms form button:active{
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3 ;
    color: #fff;
}



.loginforms form p{  
font-size: 17px;
text-transform: capitalize;
margin-left: 200px;
}
.loginforms form button:active{
	box-shadow:0px 0px 0px #0d2cf5;
}	

