<div class="container-fluid first">
    <div class="container">
        <div class="fixed">
        <app-fixedcontent></app-fixedcontent>
        </div>
    </div>
</div>
<!---------------------------------------------------first------------------------------------------------------>

<div class="container-fluid second">
    <div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 simply" data-aos="fade-up"
                data-aos-duration="1500">
                    <p>simply amazing places </p>
                    <h1>A few words about us</h1>
                    </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 few" data-aos="fade-up"
                        data-aos-duration="1500">
                            <p data-aos="fade-up"
                            data-aos-duration="1500"><b>West Godavari district or Paschima Godavari Jilla is one of the 13 districts
                                in the Indian state of Andhra Pradesh. The district is situated in Coastal Andhra region of the state.
                                 The administrative headquarters of the district is situated at Eluru. As of 2011 census of India, the
                                  district has an area of 7,742 km2 (2,989 sq mi) and a population of 39,36,966. 
                                  It is bounded by Krishna district on the west, East Godavari district on the east, 
                                  Bay of Bengal on the south and the state of Telangana on the north.</b></p>
                            <h5 data-aos="fade-up"
                            data-aos-duration="1500">

                            The Eastern Chalukyas ruled coastal Andhra from 700 to 1200, with Vengi, near Pedavegi village, 
                            as their capital. Historical evidences are found at the villages, Pedavegi and Guntupalli
                             (Jilakarragudem). Eluru then became a part of the Kalinga Empire until 1471. Later it fell
                              into the hands of the Gajapathis. In 1515 Sri Krishna Deva Raya captured it. After the fall 
                              of the Vijayanagara Kingdom, it was taken by the Sultan of Golkonda, Kutub Shah. In 1925, 
                              West Godavari District was formed with Eluru as its headquarters and all the district offices
                               and regional offices were set up in Eluru city.</h5>
                                 <button>readmore</button>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 style" data-aos="fade-up"
                            data-aos-duration="1500">
                                <img src="../../assets/images/ap-tourism-6-600x400-600x400.png" alt="about1">
                                </div>
                                </div><!--row-->
                                </div><!--container-->
                                </div><!--container-fluid-->
                                
<!---------------------------------------------------second------------------------------------------------------>
<div class="container-fluid third">
    <div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle" data-aos="fade-up"
                data-aos-duration="1500">
                    <img src="../../assets/images/mountain.svg" alt="mountain">
                    <h1><b>17</b></h1>
                    <p>places</p>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle" data-aos="fade-up"
                    data-aos-duration="1500">
                        <img src="../../assets/images/island.svg" alt="island">
                        <h1><b>213</b></h1>
                        <p>safety precautions</p>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle" data-aos="fade-up"
                        data-aos-duration="1500">
                            <img src="../../assets/images/camera.svg" alt="camera">
                            <h1><b>2253</b></h1>
                            <p>travellers</p>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle" data-aos="fade-up"
                            data-aos-duration="1500">
                                <img src="../../assets/images/boat.svg" alt="boat">
                                <h1><b>15</b></h1>
                                <p>services</p>
                                </div>
                            </div><!--row-->
                        </div><!--container-->
                        </div><!--container-fluid-->
<!---------------------------------------------------third------------------------------------------------------>
