<div class="container-fluid first">
    <div class="container">
        <div class="fixed">
        <app-fixedcontent></app-fixedcontent>
        </div>
    </div>
</div>
<!---------------------------------------------------first------------------------------------------------------>

<div class="container-fluid second">
    <div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 simply">
                    <p>simply amazing places </p>
                    <h1>A few words about us</h1>
                    </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 few">
                            <p><b>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. 
                                Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit.</b></p>
                            <h5>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. 
                                Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                 Sed eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices. 
                                 In pulvinar rhoncus lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet, consectetur 
                                 mauris. Curabitur sodales semper est, vel faucibus urna laoreet vel. Ut justo diam, sodales non 
                                 pulvinar at, vulputate quis neque. Etiam aliquam purus vel ultricies consequat.</h5>
                                 <button>readmore</button>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 style">
                                <img src="../../assets/images/ap-tourism-6-600x400-600x400.png" alt="about1">
                                </div>
                                </div><!--row-->
                                </div><!--container-->
                                </div><!--container-fluid-->
                                
<!---------------------------------------------------second------------------------------------------------------>
<div class="container-fluid third">
    <div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle">
                    <img src="../../assets/images/mountain.svg" alt="mountain">
                    <h1><b>17</b></h1>
                    <p>online courses</p>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle">
                        <img src="../../assets/images/island.svg" alt="island">
                        <h1><b>213</b></h1>
                        <p>students</p>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle">
                            <img src="../../assets/images/camera.svg" alt="camera">
                            <h1><b>2253</b></h1>
                            <p>teachers</p>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 middle">
                                <img src="../../assets/images/boat.svg" alt="boat">
                                <h1><b>15</b></h1>
                                <p>countries</p>
                                </div>
                            </div><!--row-->
                        </div><!--container-->
                        </div><!--container-fluid-->
<!---------------------------------------------------third------------------------------------------------------>
