.firstsec{
    background: url(../../assets/images/contact.jpg) no-repeat;
    background-size: cover;
    height: 540px;
}
.static{
    padding-top: 100px;
}

.gettouch{
    height: 610px;
}
.address{
    height: 530px;
margin-top: 70px;
}
.address h1{
    text-transform: capitalize;
margin-bottom: 20px;
}
.address h5{
    font-size: 15px;
line-height: 27px;
}
.address button{
    text-transform: uppercase;
    padding: 0px 10px 5px 10px;
    border: none;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    margin-top: 30px;}
.address p{
    margin-top: 8px;
margin-left: 31px;
}


.contactform{
    height: 530px;
    margin-top: 70px;
}
.contactform input[type=text]{
    display: block;
padding: 5px 300px 10px 10px;
font-size: 18px;
text-transform: capitalize;
background-color: aliceblue;
margin-top: 30px;
margin-bottom: 40px;
border: none;

}
.contactform input[type=email]{
    padding: 5px 10px 10px 10px;
text-transform: capitalize;
font-size: 17px;
background-color: aliceblue;
margin-right: 65px;
margin-bottom: 40px;
border: none;
}
.contactform input[type=number]{
    padding: 5px 15px 10px 10px;
text-transform: capitalize;
font-size: 17px;
background-color: aliceblue;
border: none;
}
.contactform textarea{
    padding: 10px 300px 100px 10px;
    text-transform: capitalize;
    font-size: 17px;
    background-color: aliceblue;
    color: cadetblue;
    border: none;
}
.contactform button{
    text-transform: uppercase;
    padding: 10px 40px 15px 40px;
    border: none;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 18px;
}