<div class="container-fluid firstsec">
    <div class="container">
        <div class="static">
            <app-fixedcontent></app-fixedcontent>
        </div>
    </div>
</div>

<!--firstsec---------------------------------------------------------------------------->

<div class="container-fluid gettouch">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 address">
                <h1 data-aos="fade-up" data-aos-duration="1500">get in touch with us</h1>
                <h5 data-aos="fade-up" data-aos-duration="1500">District Informatics Officer
                    National Informatics Centre
                    Collectorate Compound
                    West Godavari
                    
                    </h5>
                <button data-aos="fade-up" data-aos-duration="1500">address:</button>
                <p data-aos="fade-up" data-aos-duration="1500">Site Administrator

                    National Informatics Centre
                    
                    Collectorate Compound</p>
                <button data-aos="fade-up" data-aos-duration="1500">phone:</button>
                <p data-aos="fade-up" data-aos-duration="1500">  08812-233420 </p>
                <button data-aos="fade-up" data-aos-duration="1500">email</button>
                <p data-aos="fade-up" data-aos-duration="1500"> E-mail : apwgo[at]nic[dot]in</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contactform">
                <input type="text" placeholder="your name" required data-aos="fade-up" data-aos-duration="1500">
                <input type="email" placeholder="your email" required data-aos="fade-up" data-aos-duration="1500">
                <input type="number" placeholder="subject" required data-aos="fade-up" data-aos-duration="1500">
                <textarea data-aos="fade-up" data-aos-duration="1500">message</textarea>
                <button data-aos="fade-up" data-aos-duration="1500">send</button>
            </div>

        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<!--container-fluid-->