<div class="container-fluid firstsec">
    <div class="container">
        <div class="static">
        <app-fixedcontent></app-fixedcontent>
        </div>
    </div>
</div>

<!--firstsec---------------------------------------------------------------------------->

<div class="container-fluid gettouch">
    <div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 address">
                    <h1>get in touch with us</h1>
                    <h5>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. 
                        Vivamus massa.Tempor massa et laoreet. Pellentesque sit amet elementum ccumsan sit amet 
                        mattis eget, tristique at leo. Vivamus massa.</h5>
                    <button>address:</button>
                    <p>1481 Creekside Lane Avila Beach, CA 931</p>
                    <button>phone:</button>
                    <p> +53 345 7953 32453 </p>
                    <button>email</button>
                    <p> yourmail@gmail.com</p>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contactform">
                   <input type="text" placeholder="your name" required>
                   <input type="email" placeholder="your email" required>
                   <input type="number" placeholder="subject" required>
                   <textarea>message</textarea>
                   <button>send</button>
                   </div>

                </div><!--row-->
            </div><!--container-->
            </div><!--container-fluid-->
            

                      