<div class="containerfluid">
    <div class=" sidebar">
        <h2 data-aos="fade-up" data-aos-duration="1500">my account</h2>
        <div class="list">
            <ul>
                <li data-aos="fade-up" data-aos-duration="1500"><a routerLink="Profile"><i class='fas fa-user-circle'
                            style='font-size:24px'></i>my profile</a></li>
                <li data-aos="fade-up" data-aos-duration="1500"><a routerLink="Trips"><i class="fa fa-ship"
                            style="font-size:24px"></i>my trips</a></li>
                <li data-aos="fade-up" data-aos-duration="1500"><a routerLink="Bookings"><i class="fa fa-book"
                            style="font-size:24px"></i>my bookings</a></li>
                <li data-aos="fade-up" data-aos-duration="1500"><a routerLink="Wallets"><i class='fas fa-wallet'
                            style='font-size:24px'></i>my wallets</a></li>

            </ul>
        </div>

    </div>
</div>
<router-outlet></router-outlet>