.sidebar{
    background-color: gray;
    width: 20%;
    margin-top: 120px;
    float: left;
    height: 420px;
}
.sidebar h2{
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #fff;
}

.list ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
    width: 180px;
    margin-bottom: 10px;

}
.list ul li a{
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}
.list i{
    margin-right: 20px;
}
.list ul li:hover{
    padding: 3px 10px 10px 3px;
    transition: ease-in-out 0.5s;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;

}
.list ul li a:hover{
    color: #fff;
}