<div class="container-fluid service">
    <div class="container">
        <div class="rigid">
        <app-fixedcontent></app-fixedcontent>
        </div>
    </div>
</div>

<!--------------------------------service---------------------------------------------------------->


<div class="container-fluid why">
    <div class="container">
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 choose" data-aos="fade-up"
    data-aos-duration="1500">
    <p>simply amazing places</p>
    <h2><b>Why choose us?</b></h2>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 fast">
    <img  src="../../assets/images/ap-tourism-7-600x400-600x400.png" alt="y_1" data-aos="fade-up"
    data-aos-duration="1500">
    <h1 data-aos="fade-up"
    data-aos-duration="1500"><b>Fast Services</b></h1>
    <p data-aos="fade-up"
    data-aos-duration="1500">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 fast">
        <img  src="../../assets/images/why_2.jpg" alt="y_2" data-aos="fade-up"
        data-aos-duration="1500">
        <h1 data-aos="fade-up"
        data-aos-duration="1500"><b>Great team</b></h1>
        <p data-aos="fade-up"
        data-aos-duration="1500">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 fast">
            <img  src="../../assets/images/ap-tourism-8-600x400-600x400.png" alt="y_3" data-aos="fade-up"
            data-aos-duration="1500">
            <h1 data-aos="fade-up"
            data-aos-duration="1500"><b>best deals</b></h1>
            <p data-aos="fade-up"
            data-aos-duration="1500">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
            </div>

            </div><!--row-->
            </div><!--container-->
            </div><!--container-fluid-->
<!--------------------------------why---------------------------------------------------------->
<div class="container-fluid why">
    <div class="container">
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 choose" data-aos="fade-up"
    data-aos-duration="1500">
    <p>simply amazing places</p>
    <h2><b>meet the team</b></h2>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up"
    data-aos-duration="1500">
    <img  src="../../assets/images/team_1.jpg" alt="t_1">
    <h3>bhargavi</h3>
    <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up"
    data-aos-duration="1500">
        <img  src="../../assets/images/team_2.jpg" alt="t_2">
        <h3>nagendra</h3>
        <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up"
        data-aos-duration="1500">
            <img  src="../../assets/images/team_3.jpg" alt="t_3" class="nag">
            <h3>sai krishna</h3>
            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up"
            data-aos-duration="1500">
                <img  src="../../assets/images/team_4.jpg" alt="t_4">
                <h3>anji</h3>
                <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                </div>

            </div><!--row-->
        </div><!--container-->
        </div><!--container-fluid-->

