<div class="container-fluid service">
    <div class="container">
        <div class="rigid">
            <app-fixedcontent></app-fixedcontent>
        </div>
    </div>
</div>

<!--------------------------------service---------------------------------------------------------->


<div class="container-fluid why">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 choose" data-aos="fade-up" data-aos-duration="1500">
                <p>simply amazing places</p>
                <h2><b>How to Reach?</b></h2>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 fast">
                <img src="../../assets/images/ap-tourism-7-600x400-600x400.png" alt="y_1" data-aos="fade-up"
                    data-aos-duration="1500">
                <h1 data-aos="fade-up" data-aos-duration="1500"><b> By Raod</b></h1>
                <p data-aos="fade-up" data-aos-duration="1500">Eluru is 78 Kms from Machilipatnam, 57 Kms from Vijayawada,
                     92 Kms from Guntur, 103 Kms from Rajahmundry, 155 Kms from Kakinada, 201 Kms from Tuni, 268 Kms from 
                     Anakapalle, 290 Kms from Vishakhapatnam,340 Kms from Hyderabad and is connected through Andhra Pradesh
                      State Road Transport Corporation (APSRTC) and some private travel services.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 fast">
                <img src="../../assets/images/train.jpg" alt="y_2" data-aos="fade-up" data-aos-duration="1500">
                <h1 data-aos="fade-up" data-aos-duration="1500"><b> By Rail</b></h1>
                <p data-aos="fade-up" data-aos-duration="1500">It has its own Railway Station named as West Godavari 
                    Railway Station which is connected to all the major cities of Andhra Pradesh.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 fast">
                <img src="../../assets/images/air.jpg" alt="y_3" data-aos="fade-up"
                    data-aos-duration="1500">
                <h1 data-aos="fade-up" data-aos-duration="1500"><b>By Air</b></h1>
                <p data-aos="fade-up" data-aos-duration="1500">The nearest Domestic Airport is Vijayawada Airport, Vijayawada,
                     roughly one hour drive from West Godavari. It is well connected to spectrum of cities like Bangalore, 
                     Chennai, Hyderabad, Madurai and New Delhi through Indigo, Go Air, Air India and Spice Jet flights.
                      The nearest International Airport is Rajiv Gandhi International Airport, Hyderabad, roughly 350 Kms 
                      from West Godavari. Frequent Flights to various national and international destinations take off from
                       here.</p>
            </div>

        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<!--container-fluid-->
<!--------------------------------why---------------------------------------------------------->
<div class="container-fluid why">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 choose" data-aos="fade-up" data-aos-duration="1500">
                <p>simply amazing places</p>
                <h2><b>meet the team</b></h2>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up" data-aos-duration="1500">
                <img src="../../assets/images/team_1.jpg" alt="t_1">
                <h3>bhargavi</h3>
                <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up" data-aos-duration="1500">
                <img src="../../assets/images/team_2.jpg" alt="t_2">
                <h3>nagendra</h3>
                <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up" data-aos-duration="1500">
                <img src="../../assets/images/team_3.jpg" alt="t_3" class="nag">
                <h3>sai krishna</h3>
                <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 members" data-aos="fade-up" data-aos-duration="1500">
                <img src="../../assets/images/team_4.jpg" alt="t_4">
                <h3>anji</h3>
                <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
            </div>

        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<!--container-fluid-->