.service{
    background: url(../../assets/images/banner1.jpg) no-repeat;
    background-size: cover;
    height: 540px;
    background-attachment: fixed;

}
.rigid{
    padding-top: 200px;
}

.why{
height: 680px;
}
.choose{
    height: 150px;
}
.choose p{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}
.choose h2{
    text-align: center;
    text-transform: capitalize;
}
.fast{
    height: 420px;
    margin-right: 50px;
    margin-left: 40px;

}
.fast img{
    height: 200px;
    width: 320px;
}
.fast h1{
    text-align: center;
    text-transform: capitalize;
}
.fast p{
    width: 320px;
    font-size: 13px;
}


.members img{
    height: 200px;
    border-radius: 290px;
    margin-left: 20px;
}
.members h3{
    text-align: center;
    text-transform: capitalize;
}
.members p{
    text-align: center;
    text-transform: capitalize;
}