.signupforms {
    height: 750px;
    padding-top: 145px;
}
.signupforms form{
	border:2px solid;
	width:36%;
	height:550px;
	background-color: blueviolet ;
	border-radius: 18px 144px;
	margin-left: 400px;
	padding-top: 30px;
}
.signupforms form input[type=text]{
	margin: 32px 153px;
    margin-top: 12px;
    margin-bottom: 8px;
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 240px;
}
.signupforms form input[type=tel]{
	margin: 32px 153px;
	margin-top: 20px;
	margin-bottom: 14px;
	border-radius: 20px;
	border: none;
	text-align: center;
	width: 240px;

}
.signupforms form input[type=email]{
	margin-left: 153px;
	margin-top: 13px;
	border-radius: 20px;
	border: none;
	text-align: center;
	width: 240px;

}
.signupforms form input[type=password]{
	margin: 22px 153px;
	padding: 6px 61px;
	border-radius: 20px;
	border: none;
	text-align: center;
	width: 240px;

}
.signupforms form h2{
	font-size: 25px;
	margin-left: 230px;
	color: white;
	font-style: italic;
	text-transform: uppercase;
	
}
.signupforms form button{
	margin-left: 205px;
	border-radius: 18px;

	padding: 5px 25px;
	cursor: pointer;
	box-shadow: 0px 5px 0px #fff;
transition: all 0.3s;

}


.signupforms form button:active{
	box-shadow:0px 0px 0px #0525f5;
	border: none;
}	
.signupforms form p{
	margin-left: 250px;
	color: #fff;
}
small{

	margin-left: 150px;
}
.validate{
	margin-left: 150px;

}
