.signupforms {
    height: 750px;
	padding-top: 145px;
	width: 100%;
	background-color:darkgrey ;
	background: url(../../assets/images/comp2.jpg) no-repeat;
	background-size: cover;

}
.signupforms form{
    width: 36%;
    height: 550px;
    margin-left: 580px;
    padding-top: 62px;
}
.signupforms form input[type=text]{
	margin: 32px 153px;
    margin-top: 12px;
    margin-bottom: 8px;
    border: none;
    border-radius: 20px;
    text-align: center;
	width: 240px;
	background-color: silver;
}
.signupforms form input[type=tel]{
	margin: 32px 153px;
	margin-top: 20px;
	margin-bottom: 14px;
	border-radius: 20px;
	border: none;
	text-align: center;
	width: 240px;
	background-color: silver;

}
.signupforms form input[type=email]{
	margin-left: 153px;
	margin-top: 13px;
	border-radius: 20px;
	border: none;
	text-align: center;
	width: 240px;
	background-color: silver;

}
.signupforms form input[type=password]{
	margin: 22px 153px;
	padding: 6px 61px;
	border-radius: 20px;
	border: none;
	text-align: center;
	width: 240px;
	background-color: silver;

}
.signupforms form h2{
	font-size: 25px;
	margin-left: 230px;
	color: white;
	font-style: italic;
	text-transform: uppercase;
	
}
.signupforms form button{
	margin-left: 205px;
	border-radius: 18px;

	padding: 5px 25px;
	cursor: pointer;
	box-shadow: 0px 5px 0px green;
transition: all 0.3s;

}


.signupforms form button:active{
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3 ;
	border: none;
	background-color: #2196f3;
	color: #fff;
    transition-delay: transform 0.2s;

}


.signupforms form p{
	margin-left: 250px;
	color: green;
}
small{

	margin-left: 150px;
}
.validate{
	margin-left: 150px;

}
