.profile{
    height: 420px;
    width: 80%;
    background-color: #fff;
    float: left;
    margin-top: 120px;
    
}


.picture{
    background-color: #fff;
    height: 420px;
    width: 300px;
    float: left;
    
}
.pic{
    border-radius: 180px;
}
.pic i{
    color: gray;
    margin-top: 120px;
    margin-left: 30px;
    position: absolute;
    border-radius: 180px;
}
.cam i{
    position: relative;
    top: 270px;
    left: 180px;
    font-size: 30px;
    cursor: pointer;

}

.cam ul{
    margin-top: 267px;
    position: relative;
    margin-left: 90px;
    display: none;
}
.cam ul li{
    list-style: none;
    line-height: 30px;
    border-bottom: 1px solid #fff;
    width: 160px;
    margin-bottom: 4px;
    padding: 0px 0px 4px 0px;
    border-bottom: 1px solid;

}
.cam ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
.cam:hover ul{
    display: block;
}
.details{
    float: right;
    margin-top: 50px;
    margin-right: 450px;
}
.details input[type=text]{
    display: block;
    width: 250px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid grey;
}
.details input[type=tel]{
    display: block;
    width: 250px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid grey;
}
.details input[type=email]{
    display: block;
    width: 250px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid grey;


}
.details input[type=radio]{

    margin-right: 10px;
    top: 0;
}

.details button{
    margin-top: 80px;
    cursor: pointer;
}
.details span{
    margin-right: 10px;


}


