
<div class="profile">
    <div class="picture">
    <div class="pic"><i class='fas fa-user-circle' style='font-size:200px'></i></div>
        <div class="cam"><i class="fa fa-camera"></i>
        
            <ul>
                <li><a href="#">update profile picture</a></li>
                <li><a href="#">remove profile picture</a></li>

            </ul>
        </div>
        </div>

<div class="details">

    <input type="text" placeholder="Name" required >
    <input type="tel" placeholder="Mobile no" required>
    <input type="email" placeholder="Email" required>
    <p>Gender</p>
    <input type="radio"><span>Male</span>
    <input type="radio"><span>Female</span>
    <button class="btn btn-success">update profile details</button>


</div>

</div>
