.banner{
	height:790px;
	background: url(../../assets/images/destination_7.jpg) no-repeat;
	background-size:cover;
	position: absolute;
}
.away{
	margin-top: 190px;
}
.away h1{
	
	font-size: 80px;
	text-transform: none;
	color: #fff;
	text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------------*/


.destination{
	height:390px;
	background: url(../../assets/images/intro.png) no-repeat;
	background-size:cover;
	position: relative;
	top: 690px;
}
.pool{	
	height: 120px;
	margin-top: 240px;
}
.pool img{
	height: 80px;
	width: 84px;
	display: inline-block;
	margin-top: 20px;
	margin-right: 18px;
}
.paras{
	margin-top: 270px;
}

.paras h3{
	font-size: 20px;
	text-transform: capitalize;
	display: inline-block;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.places{
	height:1000px;
	margin-top: 740px;
	background-color:#fff;
}

.mid p{
	text-align: center;
}
.mid h2{
	text-align: center;
	margin-bottom: 60px;
}
.mid{
	height: 140px;
}
.country{
	width:350px;
	height:280px;
	background:grey;
	margin-right:20px;
	margin-top:40px;
	position:relative;
	margin-left: 40px;
	border-radius: 10px;
	}
	
.country .imgbox{
	position:relative;
	overflow:hidden;
	}

.country .imgbox img{
	max-width:100%;
	height: 280px;
	transition: transform 2s;
}
.country:hover .imgbox img{
	transform:scale(1.2);
}
.detials{

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 9px 28px 17px 13px;
	background: black;
	opacity: 0.7;
	margin-top: 78px;
}
.detials h3{
	color:#fff;
}
.detials p{
	color:#fff;
}
.detials h4{
	color:#fff;
}
.content {
	
	position: absolute;
	top: 60px;
	transform: scaleX(0);
	transition: transform 1.5s;
}

.country:hover .content{
	transform: scaleX(1);
}
/*------------------------------------------------------------------------------------------------------------------------------*/
.newspost{
	height: 750px;
}


.total{
	margin-bottom: 60px;
}

.one img{
	height: 160px;
	width: 270px;
}

.two h1{
	line-height: 18px;
}
.two p{
	font-size: 15px;
	display: inline-block;
}
.two small{
	font-size: 12px;
}
.two h5{
	font-size: 17px;
	width: 110%;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
