<div class="container-fluid banner">
    <div class="container">
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 away">
    <h1>Let us take you away</h1>
    </div>
    </div>
    
    <app-fixedcontent></app-fixedcontent>
    </div><!--container-->
    </div><!--container-fluid-->
    
    <!--------------------------------------------------------------banner------------------------------------------------------------------------>
    
    <div class="container-fluid destination">
    <div class="container">
    
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pool">
    <img src="../../assets/images/beach.svg" alt="beach">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 paras">
    <h3>top destinations</h3>
    <p>Nulla pretium tincidunt felis, nec.</p>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pool">
        <img src="../../assets/images/wallet.svg" alt="wallet">
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 paras">
        <h3>top destinations</h3>
        <p>Nulla pretium tincidunt felis, nec.</p>
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pool">
            <img src="../../assets/images/suitcase.svg" alt="suitcase">
            </div>
        
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 paras">
            <h3>top destinations</h3>
            <p>Nulla pretium tincidunt felis, nec.</p>
            </div>
    
    
    </div><!--row---->
    
    </div><!--container-->
    </div><!--container-fluid-->
    
    
    <!--------------------------------------------------------------destination------------------------------------------------------------------------>
    
    <div class="container-fluid places">
        <div class="container">
        
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mid">
        <p>simply amazing places</p>
        <h2><b>Popular Destinations</b></h2>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
            <div class="imgbox">
            <img src="../../assets/images/hills.jpg" alt="destination_1">
            </div>
            
            <div class="content">
            <div class="detials">
            <h3>Papi Kondalu Hills</h3>
            <p>amazing view point.</p>
            <h4>From 500/-</h4>
            </div>
            </div>
            </div>
            
        
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                <div class="imgbox">
                <img src="../../assets/images/gandi temple.jpg" alt="destination_2">
                </div>
                
                <div class="content">
                <div class="detials">
                <h3>Gandi Pochamma Temple</h3>
                <p>Nice divotional time</p>
                <h3>From 400/-</h3>
                </div>
                </div>
                </div>
                
                
        
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                    <div class="imgbox">
                    <img src="../../assets/images/perantalapaalli.jpg" alt="destination_3">
                    </div>
                    
                    <div class="content">
                    <div class="detials">
                    <h3>Perantapalli Village</h3>
                    <p>Nature looks great.</p>
                    <h4>From 300/-</h4>
                    </div>
                    </div>
                    </div>
                    
                    
        
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                        <div class="imgbox">
                        <img src="../../assets/images/boating.jpg" alt="destination_4">
                        </div>
                        
                        <div class="content">
                        <div class="detials">
                        <h3>Boating</h3>
                        <p>Entertainment too.</p>
                        <h4>From 200/-</h4>
                        </div>
                        </div>
                        </div>
                        
                        
        
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                            <div class="imgbox">
                            <img src="../../assets/images/jammalapuram.jpg" alt="destination_5">
                            </div>
                            
                            <div class="content">
                            <div class="detials">
                            <h3>Jammalapuram Temple</h3>
                            <p>Highly sculped architechure.</p>
                            <h3>From 100/-</h3>
                            </div>
                            </div>
                            </div>
                            
        
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                                <div class="imgbox">
                                <img src="../../assets/images/park.jpg" alt="destination_6">
                                </div>
                                
                                <div class="content">
                                <div class="detials">
                                <h3>Papikondalu National Park</h3>
                                <h4>Free</h4>
                                </div>
                                </div>
                                </div>
                                
                                
        
        </div><!--row---->
        
        </div><!--container-->
        </div><!--container-fluid-->
        
        <!--------------------------------------------------------------places------------------------------------------------------------------------>
         
        <div class="container-fluid newspost">
            <div class="container">
            
            <div class="total">
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one">
            <img src="../../assets/images/n1.jpg" alt="news1">
            </div>
            
            
            <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two">
            <h1>01<p>june</p></h1>
            <h2><b>Best tips to travel light</b></h2>
            <small>lifestyle & travel </small>
            <h5> Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet.</h5>
            </div>
            </div>
            </div>
            
            <div class="total">
            
            <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one">
            <img src="../../assets/images/n2.jpg" alt="news2">
            </div>
            
            
            <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two">
            <h1>02<p>june</p></h1>
            <h2><b>Best tips to travel light</b></h2>
            <small>lifestyle & travel </small>
            <h5> Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet.</h5>
            </div>
            </div>
            </div>
            
            <div class="total">
            <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one">
            <img src="../../assets/images/news_3.jpg" alt="news3">
            </div>
            
            <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two">
            <h1>03<p>june</p></h1>
            <h2><b>Best tips to travel light</b></h2>
            <small>lifestyle & travel </small>
            <h5> Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet.</h5>
            </div>
            </div>
            </div>
            
            
            </div><!--container-->
            </div><!--container-fluid-->
            
            
            <!--------------------------------------------------------------newspost------------------------------------------------------------------------>
            
    