<div class="container-fluid banner">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 away">
                <h1 data-aos="fade-up" data-aos-duration="2000" >Let us take you away</h1>
            </div>
        </div>
    </div>
    <!--container-->
</div>
<!--container-fluid-->

<!--------------------------------------------------------------banner------------------------------------------------------------------------>

<div class="container-fluid destination" data-aos="fade-right" data-aos-duration="2000">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pool" data-aos="fade-up-right">
                <img src="../../assets/images/beach.svg" alt="beach">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 paras" data-aos="fade-up" data-aos-duration="1000">
                <h3>top destinations</h3>
                <p>To visit maximum places.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pool" data-aos="fade-up">
                <img src="../../assets/images/wallet.svg" alt="wallet">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 paras" data-aos="fade-up" data-aos-duration="1500">
                <h3>best packages</h3>
                <p>For singles & families.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pool" data-aos="fade-up-left">
                <img src="../../assets/images/suitcase.svg" alt="suitcase">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 paras" data-aos="fade-up" data-aos-duration="2500">
                <h3>great services</h3>
                <p>Providing best services.</p>
            </div>


        </div>
        <!--row---->

    </div>
    <!--container-->
</div>
<!--container-fluid-->


<!--------------------------------------------------------------destination------------------------------------------------------------------------>

<div class="container-fluid places">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mid" data-aos="fade-up" data-aos-duration="1000">
                <p>simply amazing places</p>
                <h2><b>Popular Destinations</b></h2>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                <div class="imgbox">
                    <img src="../../assets/images/hills.jpg" alt="destination_1">
                </div>

                <div class="content">
                    <div class="detials">
                        <h3>Papi Kondalu Hills</h3>
                        <p>amazing view point.</p>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                <div class="imgbox">
                    <img src="../../assets/images/gandi temple.jpg" alt="destination_2">
                </div>

                <div class="content">
                    <div class="detials">
                        <h3>Gandi Pochamma Temple</h3>
                        <p>Nice divotional time</p>
                    </div>
                </div>
            </div>



            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                <div class="imgbox">
                    <img src="../../assets/images/perantalapaalli.jpg" alt="destination_3">
                </div>

                <div class="content">
                    <div class="detials">
                        <h3>Perantapalli Village</h3>
                        <p>Nature looks great.</p>
                    </div>
                </div>
            </div>



            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                <div class="imgbox">
                    <img src="../../assets/images/boating.jpg" alt="destination_4">
                </div>

                <div class="content">
                    <div class="detials">
                        <h3>Boating</h3>
                        <p>Entertainment too.</p>
                    </div>
                </div>
            </div>



            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                <div class="imgbox">
                    <img src="../../assets/images/jammalapuram.jpg" alt="destination_5">
                </div>

                <div class="content">
                    <div class="detials">
                        <h3>Jammalapuram Temple</h3>
                        <p>Highly sculped architechure.</p>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 country">
                <div class="imgbox">
                    <img src="../../assets/images/park.jpg" alt="destination_6">
                </div>

                <div class="content">
                    <div class="detials">
                        <h3>Papikondalu National Park</h3>
                    </div>
                </div>
            </div>



        </div>
        <!--row---->

    </div>
    <!--container-->
</div>
<!--container-fluid-->

<!--------------------------------------------------------------places------------------------------------------------------------------------>

<div class="container-fluid newspost">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mid" data-aos="fade-up" data-aos-duration="1000">
            <p>SIMPLY AMAZING RESORTS</p>
            <h2><b>Popular Acombidations</b></h2>
        </div>
    <div class="container">

        

        <div class="total">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one" data-aos="flip-up">
                    <img src="../../assets/images/palavelli.jpg" alt="news1">
                </div>


                <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two" data-aos="fade-up" data-aos-duration="2000">
                    <p>01
                    </p>
                    <h2><b>PALAVELLI RESORTS:</b></h2>
                    <small>lifestyle & travel </small>
                    <h5>Contact:No: 7674015035</h5>
                </div>
            </div>
        </div>

        <div class="total">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one" data-aos="flip-up">
                    <img src="../../assets/images/sunrise.jpg" alt="news2">
                </div>


                <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two" data-aos="fade-up" data-aos-duration="2300">
                    <p>02</p>
                    
                    <h2><b>SUNRISE RESORTS:</b></h2>
                    <small>lifestyle & travel </small>
                    <h5> Contact No :8096351677</h5>
                </div>
            </div>
        </div>

        <div class="total">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one" data-aos="flip-up">
                    <img src="../../assets/images/perupalem.jpg" alt="news3">
                </div>

                <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two" data-aos="fade-up" data-aos-duration="2500">
                    <p>03</p>
                    
                    <h2><b>PERUPAELM BEACH RESORT: 

                        </b></h2>
                    <small>lifestyle & travel </small>
                    <h5> CONTACT.NO:9100037296</h5>
                </div>
            </div>
        </div>

        <div class="total">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one" data-aos="flip-up">
                    <img src="../../assets/images/narasapuram.jpg" alt="news4">
                </div>


                <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two" data-aos="fade-up" data-aos-duration="2000">
                    <p>04
                    </p>
                    <h2><b>NARASAPURAM RESORTS:</b></h2>
                    <small>lifestyle & travel </small>
                    <h5>CONTACNT.NO: 9100037296</h5>
                </div>
            </div>
        </div>

        <div class="total">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one" data-aos="flip-up">
                    <img src="../../assets/images/koruturu.jpg" alt="news5">
                </div>


                <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two" data-aos="fade-up" data-aos-duration="2000">
                    <p>05
                    </p>
                    <h2><b>KORUTURU COTTAGES:</b></h2>
                    <small>lifestyle & travel </small>
                    <h5>Contact No: 9440815348</h5>
                </div>
            </div>
        </div>

        <div class="total">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one" data-aos="flip-up">
                    <img src="../../assets/images/pattisema.jpg" alt="news1">
                </div>


                <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two" data-aos="fade-up" data-aos-duration="2000">
                    <p>06
                    </p>
                    <h2><b>PATTISEEMA RESORTS:</b></h2>
                    <small>lifestyle & travel </small>
                    <h5>Contact No:9866552404</h5>
                </div>
            </div>
        </div>

        <div class="total">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 one" data-aos="flip-up">
                    <img src="../../assets/images/haritharesort.jpg" alt="news1">
                </div>


                <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5 two" data-aos="fade-up" data-aos-duration="2000">
                    <p>07
                    </p>
                    <h2><b>HARITH RESORTS:</b></h2>
                    <small>lifestyle & travel </small>
                    <h5>Contact No: 9966666842</h5>
                </div>
            </div>
        </div>

        


    </div>
    <!--container-->
</div>
<!--container-fluid-->


<!--------------------------------------------------------------newspost------------------------------------------------------------------------>